</main>
<footer>
  <p>
    <a href="https://github.com/syedtaz"><i class="fa-brands fa-github fa-xl"></i></a>
    <a href="https://sr.ht/~syedtaz"><i class="fa-regular fa-circle fa-xl"></i></a>
    <a href="https://discuss.systems/@taz"><i class="fa-brands fa-mastodon fa-xl"></i></a>
    <a href="mailto:convoy-03-channel@icloud.com"><i class="fa-solid fa-envelope fa-xl"></i></a>
  </p>
  site built with <a href="https://github.com/xhtmlboi/yocaml">yocaml</a><br>
  favicon courtesy of <a href="https://www.flaticon.com/free-icons/winter" title="winter icons">flaticon</a>
</footer>
</body>
</html>