@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inconsolata-regular {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #202020;
  color: white;
  font-family: "PT Serif", serif;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13pt;
  text-align: justify;
}

p {
  line-height: 1.5em;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-family: 'Inconsolata';
}

a {
  color: white;
  margin-right: 10pt;
}

footer {
  text-align: center;
  font-size: 10pt;
  font-family: 'Inconsolata';
}